%-*-Mode:erlang;coding:utf-8;tab-width:4;c-basic-offset:4;indent-tabs-mode:()-*-
% ex: set ft=erlang fenc=utf-8 sts=4 ts=4 sw=4 et nomod:

{require_otp_vsn, "22|23|24|25"}.

{erl_opts, [fail_on_warning, debug_info, warn_untyped_record]}.
%%, {parse_transform, eqc_cover}]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{cover_print_enabled, false}.
{edoc_opts, [{dialyzer_specs, all}]}.
{validate_app_modules, true}.

{erl_first_files, [
                   "src/msgpack_ext.erl"
                  ]}.

{project_plugins, [rebar3_proper]}.

{profiles,
 [{test, [
          {erl_opts, [nowarn_export_all]},
          {deps, [proper]}
         ]
  }]
}.

%% See: https://erlangforums.com/t/erlang-otp-26-0-released/2607/7
{dialyzer, [
            {warnings, [no_unknown]},  % to go back to the old settings
            {plt_extra_apps, [eunit]}, % or alternatively to add eunit to the analysis set without making it a runtime dep
            {plt_apps, all_deps} % default: top_level_deps
]}.
