{erl_opts, [fail_on_warning, debug_info, warn_untyped_record]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{cover_print_enabled, false}.
{edoc_opts, [{dialyzer_specs, all}]}.
{validate_app_modules, true}.

{deps, [
    {proper, ".*",
     {git, "https://github.com/manopapad/proper.git", {tag, "v1.1"}}}
  ]
}.

{port_sources, ["c_src/*.c"]}.
{port_env, [
	     %% Make sure to set -fPIC when compiling leveldb
             {"CFLAGS", "$CFLAGS -Wall -O3 -fPIC"},
             {"CXXFLAGS", "$CXXFLAGS -Wall -O3 -fPIC"},
             {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall -I c_src/msgpack-0.5.7/src"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/msgpack-0.5.7/src/.libs/libmsgpack.a"}
             ]}.

{pre_hooks,  [{compile, "sh c_src/build.sh"}]}.

{post_hooks, [{clean, "rm -rf c_src/msgpack-0.5.7"}]}.
